DOCTYPE(html)
html(lang="zh-TW")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title café website
  link(rel="stylesheet", href="css/normalize.css")
  link(rel="stylesheet", href="css/style.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js")
body
  .wrapper
    header.navbar
      .container
        a(href="./index.html").brand
          h1 cafe website
        #popup-nav.nav
          a(href="./about.html").nav-link 關於
          a(href="./service.html").nav-link 服務
          a(href="./reservation.html").nav-link 訂位
          a(href="./menu.html").nav-link 菜單
          a(href="./contact.html").nav-link 聯絡
          //- for RWD
          a(href="#!").close-btn
            span
            span
        //- for RWD
        a(href="#popup-nav").nav-toggle
          span
          span
          span

    section.hero.bg-gray
      .container.about
        .section-intro
          h2.title 關於我們
        .image-container
            div(style="background-image: url(images/bg/bg004.jpg);").image
        p 從原產地的一株咖啡樹，最終成為您手中的一杯咖啡；我們堅持採購並且烘焙最高品質的咖啡，這是我們一直努力的基本原則；最初的十英呎到最後十英呎的珍貴體驗，為咖啡的故事做了最佳的註解，同時也塑造出咖啡家族的獨特風味及口感特性，閱讀咖啡的故事，可以讓您更瞭解咖啡，豐富您的咖啡體驗。
        p 1971 年新巴哥創立於美國西雅圖派克市場，1987 年霍格．華茲(新巴哥主席、總裁暨行政總裁)在當地投資者的協助下買下新巴哥，同年在加拿大溫哥華開拓門市，為首次進軍國際市場。今日新巴哥門市遍佈全球，已是全世界最主要的咖啡烘焙與零售業者，霍華‧蕭茲先生經營咖啡事業著重在人文特質與品質堅持，強調尊重顧客與員工，並堅持採購全球最好的咖啡豆烘焙製作，提供消費者最佳的咖啡產品與最舒適的消費場所，經營 NewPugs Coffee 成為當今全球精品咖啡領導品牌，備受國際學者專家推崇，譽為「咖啡王國傳奇」。
        p 新巴哥的企業使命：啟發並滋潤人們的心靈，在每個人、每一杯、每個社區中皆能體現。秉持續追求卓越以及實踐企業使命與價值觀，我們透過每一杯咖啡的傳遞，將獨特的新巴哥體驗帶入每位顧客的生活中。

    footer
      .hero
        .mask-dark
        .container
          a(href="#top").brand
          ul.nav
            a(href="./index.html").nav-link 回首頁
      .copyright
        p Photos from freepik and Unsplash and PNGitem
        p Copyright 2022. All rights reserved.

